#carouselTutorial {
  background-color: transparent!important;

  .carousel-btn {
    position: absolute;
    padding: 56.25% 100% 0 0;
  }

  .carousel-card {
    padding: 2px;
    background-color: $white;
  }

  .carousel-image {
    padding: 56.25% 100% 0 0;
    background-size: cover;
    background-position: center;
  }

  .carousel-caption {
    position: initial;
    text-align: left;
    padding-bottom: 0;
  }

  .carousel-control-next, .carousel-control-prev {
    width: 15% !important;
    text-decoration: none!important;
    outline-offset: -10px;

    &:focus {
      outline: $secondary solid 3px!important;
    }
  }
}


