//=== Colors
$white: #ffffff;
$grey: #afb9cc;
$lightblack: #1c1c1c;
$black: #000000;

$primary: #38E7FF;
$secondary: #FF2E2E;
$tertiary: #3CC84A;
$yellow: #FFD338;
$red: #E38D8D;
$blue: #32CCD8;
$grey-2: #939393;
$gray-base: #999999;
$brand-primary: #3498DB; //Zen Blue

//=== Breakpoints
$breakpoint-xs-min: 1px;
$breakpoint-xs-max: 575px;
$breakpoint-sm-min: 576px;
$breakpoint-sm-max: 767px;
$breakpoint-md-min: 768px;
$breakpoint-md-max: 991px;
$breakpoint-lg-min: 992px;
$breakpoint-lg-max: 1199px;
$breakpoint-xl-min: 1200px;
$outline-width: 0;
$break-point: 500px;

//=== Fonts
$font-roboto: 'Roboto', sans-serif;
$font-bebas: 'Bebas Neue', cursive;

//=== Font-size
$size-h1: 2.25em;
$size-h2: 1.125em;

//=== Border
$margin: 15px;
$radius: 10px;