  .menuBurger {
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 0; left: 0;
  margin: $margin 0 0 $margin;
  padding: 10px;
  width: 50px; height: 50px;
  border: 0;
  background-color: rgba($black, .9);
  @extend .pointer;

  .line {
    height: 2px;
    width: 100%;
    background-color: $white;
  }

  &.active {
    background-color: transparent;

    .line:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
    }

    .line:nth-child(2) {
      transform: translateY(-8px) rotate(-45deg);
    }

    &:focus {
      outline: $blue solid 3px!important;
    }
  }

  &:focus {
    outline: $red solid 3px!important;
  }

}

#Menu {
  padding: $margin;
  position: fixed;
  top: 0; bottom: 0; left: -100%;
  background-color: $lightblack;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    color: $white;
    padding: 10px;
    font-size: 16px;

    &:hover {
      background-color:rgba($white, .05);
    }
  }

  .row {
    min-height: 65px;
    padding: $margin 0;
    border-bottom: 2px $white solid;
  }

  &.active {
    left: 0;
  }

  @include out-mobile {
    width: 350px;
  }

  @include laptop {
    bottom: 0;
  }
}

.userMenu {
  justify-content: flex-end;
  height: 67px;

  a {
    width: fit-content!important;
    align-items: center;
  }
}

.navMenu {

  ul {
    list-style-type: none;
  }

  li {
    padding: 10px 0;
    margin: 0 15px;
    background-color: transparent;
    display: flex;

    a {
      width: 100%;
    }
  }
}

.dropdownMenu {

  a {
    border-bottom: 1px $white solid;
    display: flex;
    justify-content: space-between;
  }
}

.contactMenu {
  border-bottom: none!important;
  padding: 15px 15px!important;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 0;

    a {
      text-decoration: underline!important;
    }
  }

  a {
    font-size: 16px!important;
    justify-content: center;
  }

  p {
    text-align: center;
    color: $grey;

    a {
      display: block;
      color: inherit!important;
      padding: 0!important;
    }
  }
}

#blur {
  background-color: rgba($white, 0.5);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 15px;
  display: none;
  justify-content: flex-end;

  &.display {
    display: flex;
  }
}

.nbr_table {
  width: 0;
  height: 0;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}


.file-upload {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

#txtDescriptionExpo {
  border-radius: 15px;
  margin-bottom: 2em;
}