.laptop {
  display: none;
}
@media screen and (min-width: 991px) {
  .laptop {
    display: block;
  }
}

.cp {
  color: #38E7FF !important;
}

.cs {
  color: #FF2E2E !important;
}

.ct {
  color: #3CC84A !important;
}

h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
}

p {
  margin-bottom: 0;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

.z-10 {
  z-index: 10;
}

.dropdownMenu .collapse .card-body {
  margin: 15px 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.dropdownMenu .card-body {
  background-color: transparent !important;
}

#carouselTutorial {
  background-color: transparent !important;
}
#carouselTutorial .carousel-btn {
  position: absolute;
  padding: 56.25% 100% 0 0;
}
#carouselTutorial .carousel-card {
  padding: 2px;
  background-color: #ffffff;
}
#carouselTutorial .carousel-image {
  padding: 56.25% 100% 0 0;
  background-size: cover;
  background-position: center;
}
#carouselTutorial .carousel-caption {
  position: initial;
  text-align: left;
  padding-bottom: 0;
}
#carouselTutorial .carousel-control-next, #carouselTutorial .carousel-control-prev {
  width: 15% !important;
  text-decoration: none !important;
  outline-offset: -10px;
}
#carouselTutorial .carousel-control-next:focus, #carouselTutorial .carousel-control-prev:focus {
  outline: #FF2E2E solid 3px !important;
}

.next {
  border-radius: 0 !important;
  background-color: #F93C3C !important;
  border: none !important;
  text-transform: uppercase !important;
  font-size: 1em !important;
  color: white !important;
  padding: 12px 73px !important;
  font-weight: bold !important;
  align-items: center !important;
  margin: 6em 20px 0px auto !important;
}

.generation .container-button {
  background: #FFFFFF;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px;
}
.generation .container-button .form-select {
  margin-top: 20px;
  border: 1px solid #000000;
  text-transform: uppercase;
  font-size: 1em;
}
.generation .container2-button {
  background: #FFFFFF;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0;
}
.generation .container2-button .form-select {
  border: 1px solid #000000;
  text-transform: uppercase;
  font-size: 1em;
}
.generation .icone-menu {
  list-style: none;
  padding: 10px 16px;
}
.generation .icone-menu .form-select {
  border: 1px solid #000000;
  text-transform: initial;
  font-size: 1em;
}
.generation #icone-menu-one {
  display: inline-flex;
  margin-right: 2%;
  height: 40px;
  width: 40px;
  text-align: center;
}
.generation #icone-menu-one img {
  width: 25px;
}
.generation #icone-menu-select {
  padding: 8px 4px;
  display: inline-flex;
  vertical-align: bottom;
  padding: 0;
}
.generation .btn-lg {
  border-radius: 0;
  background-color: #3CC84A;
  border: none;
  text-transform: uppercase;
  font-size: 1.12em;
  color: white;
  padding: 15px 51px;
}

.btn_clear {
  width: 1.7em;
  height: 1.7em;
  border: 0;
  border-radius: 1em;
  position: absolute;
  right: 14px;
  top: 10px;
  content: url(../../assets/img/clear_button.svg);
  background-color: red;
}

.btn_add {
  width: 2.2em;
  height: 2.2em;
  border: 0;
  border-radius: 2em;
  position: absolute;
  right: 25px;
  top: 45%;
  content: url(../../assets/img/add_oeuvre.svg);
  background-color: #32CCD8;
}
@media screen and (max-width: 767px) {
  .btn_add {
    top: 1em;
    right: 2em;
  }
}
.btn_add img {
  width: 1.6em !important;
}

button:focus, a:focus, input:focus {
  outline: #32CCD8 solid 3px;
}

input[type=checkbox].chkemplacement {
  display: none;
}

input[type=checkbox].chkemplacement + label::before {
  content: url(../img/XMLID.svg);
  padding: 7px 7px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  display: inline-flex;
  margin-right: 2%;
  height: 40px;
  width: 40px;
  text-align: center;
}

input[type=checkbox].chkemplacement:checked + label::before {
  background-color: #d2c9c9;
}

input[type=checkbox].chkgomme {
  display: none;
}

input[type=checkbox].chkgomme + label::before {
  content: url(../img/eraser.svg);
  padding: 13px 7px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  display: inline-flex;
  margin-right: 2%;
  height: 40px;
  width: 40px;
  text-align: center;
}

input[type=checkbox].chkgomme:checked + label::before {
  background-color: #d2c9c9;
}

input[type=checkbox].chkporte {
  display: none;
}

input[type=checkbox].chkporte + label::before {
  content: url(../img/door.svg);
  padding: 7px 7px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  display: inline-flex;
  margin-right: 2%;
  height: 40px;
  width: 40px;
  text-align: center;
}

input[type=checkbox].chkporte:checked + label::before {
  background-color: #d2c9c9;
}

input[type=button].btnvider {
  display: none;
}

input[type=button].btnvider + label::before {
  content: url(../img/clear_2d.png);
  padding: 7px 7px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  display: inline-flex;
  margin-right: 2%;
  height: 40px;
  width: 40px;
  text-align: center;
}

input[type=button].btnvider:checked + label::before {
  background-color: #d2c9c9;
}

.frameCard.card {
  max-width: 100px;
  max-height: 100px;
  flex: 0.5 1 18%;
  padding: 0;
  margin: 0.75rem;
  z-index: 1;
  background-color: #C4C4C4;
  border: none;
  border-radius: 0;
}
.frameCard.card:before {
  content: "";
  padding-bottom: 100%;
}
.frameCard.card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0 solid #f9b233;
  transition: 0.3s;
  box-sizing: border-box;
}
.frameCard.card:hover, .frameCard.card.active {
  background-color: #ffffff;
}
.frameCard.card:hover:after, .frameCard.card.active:after {
  border-width: 10px;
}
@media screen and (min-width: 576px) {
  .frameCard.card {
    margin: 1rem;
    /*max-width: 120px;
    max-height: 120px;*/
  }
}
@media screen and (min-width: 768px) {
  .frameCard.card {
    margin: 1rem 0.5rem;
  }
}
@media screen and (min-width: 991px) {
  .frameCard.card {
    margin: 1rem;
  }
}

.menuBurger {
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  margin: 15px 0 0 15px;
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.menuBurger .line {
  height: 2px;
  width: 100%;
  background-color: #ffffff;
}
.menuBurger.active {
  background-color: transparent;
}
.menuBurger.active .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.menuBurger.active .line:nth-child(2) {
  transform: translateY(-8px) rotate(-45deg);
}
.menuBurger.active:focus {
  outline: #32CCD8 solid 3px !important;
}
.menuBurger:focus {
  outline: #E38D8D solid 3px !important;
}

#Menu {
  padding: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  background-color: #1c1c1c;
  overflow-y: scroll;
}
#Menu::-webkit-scrollbar {
  display: none;
}
#Menu a {
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
}
#Menu a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
#Menu .row {
  min-height: 65px;
  padding: 15px 0;
  border-bottom: 2px #ffffff solid;
}
#Menu.active {
  left: 0;
}
@media screen and (min-width: 576px) {
  #Menu {
    width: 350px;
  }
}
@media screen and (min-width: 991px) {
  #Menu {
    bottom: 0;
  }
}

.userMenu {
  justify-content: flex-end;
  height: 67px;
}
.userMenu a {
  width: fit-content !important;
  align-items: center;
}

.navMenu ul {
  list-style-type: none;
}
.navMenu li {
  padding: 10px 0;
  margin: 0 15px;
  background-color: transparent;
  display: flex;
}
.navMenu li a {
  width: 100%;
}

.dropdownMenu a {
  border-bottom: 1px #ffffff solid;
  display: flex;
  justify-content: space-between;
}

.contactMenu {
  border-bottom: none !important;
  padding: 15px 15px !important;
}
.contactMenu div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 0;
}
.contactMenu div a {
  text-decoration: underline !important;
}
.contactMenu a {
  font-size: 16px !important;
  justify-content: center;
}
.contactMenu p {
  text-align: center;
  color: #afb9cc;
}
.contactMenu p a {
  display: block;
  color: inherit !important;
  padding: 0 !important;
}

#blur {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 15px;
  display: none;
  justify-content: flex-end;
}
#blur.display {
  display: flex;
}

.nbr_table {
  width: 0;
  height: 0;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.file-upload {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}

#txtDescriptionExpo {
  border-radius: 15px;
  margin-bottom: 2em;
}

body {
  padding-top: 80px;
  overflow-x: hidden;
}
@media screen and (min-width: 991px) {
  body {
    padding: 0;
  }
}

@media screen and (min-width: 576px) {
  .index main.container {
    max-width: 100%;
  }
}
@media screen and (min-width: 991px) {
  .index main {
    height: 100vh;
    background: center no-repeat url("../img/background.svg");
    background-size: auto 100%;
    z-index: 2;
  }
  .index main.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .index main .brow {
    width: 100%;
    height: 50%;
    flex-direction: column;
  }
  .index main header, .index main .frame {
    width: 50% !important;
  }
  .index main header {
    height: 200%;
  }
}
.index canvas {
  position: absolute;
  top: calc(50% - 175px);
  left: calc(50% - 175px);
  cursor: grab;
}
.index .frame {
  margin: auto;
  padding: 0 0 90px;
  justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 576px) {
  .index .frame {
    padding: 0 30px 90px;
  }
}
@media screen and (min-width: 768px) {
  .index .frame {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 991px) {
  .index .frame {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 50px;
  }
  .index .frame::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
    z-index: -1;
  }
}
@media screen and (min-width: 1200px) {
  .index .frame {
    padding: 30px 75px;
  }
}
.index .frameRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .index .frameRow {
    width: 50%;
    padding: 0;
  }
}
@media screen and (min-width: 991px) {
  .index .frameRow {
    width: 100%;
  }
}
.index .presentation {
  position: relative;
  width: 100%;
  padding: 90px 75px 30px 40%;
}
@media screen and (min-width: 991px) {
  .index .presentation {
    height: 50%;
  }
  .index .presentation::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #F0F0F0;
    z-index: -1;
  }
}

#timeline-titre-primary {
  position: absolute;
  top: 57px;
  bottom: 0;
  left: -6px;
  right: 0;
  color: #32CCD8;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

#timeline-titre-secondary {
  position: absolute;
  top: 52px;
  bottom: 0;
  left: -18px;
  right: 0;
  color: #939393;
  font-size: 18px;
  text-transform: uppercase;
}

.section-header, .steps-two-name, .steps-name, .steps-header {
  color: #3498DB;
  font-weight: 400;
  font-size: 1.4em;
}

.steps-header {
  margin-bottom: 20px;
  text-align: center;
}

.steps-timeline {
  outline: 1px dashed rgba(255, 0, 0, 0);
}
@media screen and (max-width: 500px) {
  .steps-timeline {
    border-left: 2px solid #3498DB;
    margin-left: 25px !important;
  }
}
@media screen and (min-width: 500px) {
  .steps-timeline {
    border-top: 2px solid #3498DB;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 16.65%;
    margin-right: 16.65%;
  }
}
.steps-timeline:after {
  content: "";
  display: table;
  clear: both;
}

.steps-one,
.steps-two,
.steps-three {
  outline: 1px dashed rgba(0, 128, 0, 0);
}
@media screen and (max-width: 500px) {
  .steps-one,
.steps-two,
.steps-three {
    margin-left: -29px !important;
  }
}
@media screen and (min-width: 500px) {
  .steps-one,
.steps-two,
.steps-three {
    float: left;
    width: 33%;
    margin-top: -50px;
  }
}

@media screen and (max-width: 500px) {
  .steps-one,
.steps-two {
    padding-bottom: 40px !important;
  }
}

@media screen and (min-width: 500px) {
  .steps-one {
    margin-left: 8.35%;
    margin-right: 4.65%;
  }
}

@media screen and (max-width: 500px) {
  .steps-three {
    margin-bottom: -100%;
  }
}
@media screen and (min-width: 500px) {
  .steps-three {
    margin-left: 16.65%;
    margin-right: -16.65%;
  }
}

.steps-img {
  display: block;
  margin: auto;
  width: 44px;
  height: 44px;
  padding: 12px 0px 0px 0px;
  z-index: 1;
  position: sticky;
}
@media screen and (max-width: 500px) {
  .steps-img {
    float: left;
    margin-right: 20px;
    width: 45px;
    height: 44px;
    padding: 8px 0px 0px 5px;
  }
}

.steps-name,
.steps-description {
  margin: 0;
}

@media screen and (min-width: 500px) {
  .steps-name {
    text-align: center;
    text-align: center;
    color: #32CCD8;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: -16px !important;
    margin-top: 23px !important;
  }
}
@media screen and (max-width: 500px) {
  .steps-name {
    margin-top: 10px !important;
  }
}

@media screen and (min-width: 500px) {
  .steps-two-name {
    text-align: center;
    text-align: center;
    color: #939393;
    font-size: 1em;
    text-transform: uppercase;
    margin-left: -11px !important;
    margin-top: 55px !important;
  }
}
@media screen and (max-width: 500px) {
  .steps-two-name {
    margin-top: -7px !important;
    margin-left: 47px !important;
  }
}

.steps-description {
  overflow: hidden;
}
@media screen and (min-width: 500px) {
  .steps-description {
    text-align: center;
  }
}

.steps-one-badge {
  color: #ffffff;
  width: 56px;
  height: 56px;
  position: relative;
  background-color: #32CCD8;
  border: 3px solid #ffffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
@media screen and (max-width: 500px) {
  .steps-one-badge {
    display: flex !important;
  }
}

.steps-one-badge::after {
  top: 41px;
  left: calc( 16px - 3px);
  right: auto;
  border-right: 13px solid transparent !important;
  border-top: 22px solid #32CCD8 !important;
  border-bottom: 0 solid #32CCD8 !important;
  border-left: 12px solid transparent !important;
  position: absolute;
  content: "";
  margin: auto;
  height: 0;
  width: 0;
}

.steps-cercle {
  color: #fff;
  width: 23px;
  height: 23px;
  background-color: #E38D8D;
  border: 3px solid #ffffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-top: 18px;
}
@media screen and (max-width: 500px) {
  .steps-cercle {
    margin-left: 16px !important;
  }
}

.steps-section {
  height: 12em;
  max-width: 80em;
  text-align: center;
  margin: auto;
}

.steps-sectionNiv2 {
  height: 5em;
  max-width: 80em;
  text-align: center;
  margin: auto;
}
@media screen and (max-width: 500px) {
  .steps-sectionNiv2 {
    height: 11em;
  }
}

#Steps2 .steps-timeline .steps-two {
  margin-left: 8.35%;
  margin-right: 8.65%;
}
#Steps2 .steps-timeline .steps-one {
  margin-left: 31.35%;
  margin-right: 14.65%;
}
#Steps2 .steps-timeline .steps-two-name {
  margin-left: -10px;
}
#Steps2 .steps-timeline .steps-name {
  margin-left: -16px;
}
@media screen and (max-width: 500px) {
  #Steps2 .steps-timeline .steps-name {
    margin-left: 6px !important;
  }
}
#Steps2 .steps-timeline .steps-img {
  width: 24px;
  padding: 10px 0px 3px 0px;
}
@media screen and (max-width: 500px) {
  #Steps2 .steps-timeline .steps-img {
    width: 37px;
    padding: 3px 0px 0px 9px;
  }
}
#Steps2 .steps-timeline .steps-cercle {
  background-color: #32CCD8;
}

#timeline {
  width: 100%;
  min-height: 150px;
  padding: 45px 0 30px;
  display: flex;
  overflow: auto;
  overflow-y: hidden;
}
#timeline .line {
  height: 2px;
  width: 100%;
  background-color: #32CCD8;
  position: relative;
  z-index: -5;
}
#timeline .line .underline {
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  display: flex;
  justify-content: space-around;
}
#timeline .step {
  height: 120px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#timeline .step-small {
  font-size: 18px;
  color: #939393;
  margin-top: 35px;
}
#timeline .step-big {
  font-size: 24px;
  font-weight: bold;
  color: #32CCD8;
  margin-top: 20px;
}
#timeline .circle {
  width: 28px;
  height: 28px;
  background-color: #32CCD8;
  border: 3px solid #ffffff;
}
#timeline .circle.red {
  background-color: #E38D8D;
}
#timeline .badge {
  width: 60px;
  height: 60px;
  background-color: #32CCD8;
  position: relative;
}
#timeline .badge::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: calc(70px - 22px);
  left: calc(30px - 12px);
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 22px solid #32CCD8;
  border-bottom: 0 solid #32CCD8;
  z-index: -1;
}
#timeline .badge::after {
  content: "";
  width: 66px;
  height: 66px;
  position: absolute;
  left: -3px;
  top: -3px;
  background-color: #ffffff;
  z-index: -2;
}
#timeline h3 {
  height: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.oeuvres {
  background: #32CCD8;
  max-width: 300px;
  border-radius: 0;
  border: 0;
  padding: 10px 27px;
  margin-top: 10px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.oeuvres img {
  width: 15px;
  padding-bottom: 3px;
}

.oeuvre_sroll {
  height: 30em;
  overflow: auto;
}

.btn_oeuvres {
  background: white;
  color: black;
  width: 300px;
  padding: 7px 0;
  text-align: left;
  font-size: 1.1em;
  border-radius: 0;
  border: solid 2px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.btn_oeuvres:hover {
  color: #464646;
  background-color: #f7f7f7;
}
.btn_oeuvres:focus {
  color: #464646;
  background-color: #f7f7f7;
  border-color: white;
  border: 0;
}

.accordion-button:not(.collapsed) {
  color: initial;
  background-color: initial;
}

.accordion-button.collapsed {
  border-bottom: solid 2px;
}

.liste_oeuvres {
  justify-content: flex-end !important;
  display: grid;
}
@media screen and (max-width: 767px) {
  .liste_oeuvres {
    justify-content: center !important;
  }
}

.nav-tabs .nav-link {
  width: 50%;
  border-radius: 0;
  border: none;
  background: black !important;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1rem 1rem;
}

#collapseExample {
  height: 10em;
  overflow: auto;
}

.nav {
  margin-top: 2em;
}
.nav .active {
  background: #F0EEEE !important;
  font-weight: bold;
  font-size: 1.12em;
}

.tab-content {
  background: #F5F5F5;
}

.search {
  width: 100%;
  border-radius: 1em;
  border: solid 1px;
  height: 2.1em;
}

#nav-home .form-select {
  max-width: 55%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.oeuvre_card {
  font-family: "Roboto", sans-serif;
  border-radius: 12px;
  border: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1.6em;
  margin-left: auto;
  margin-right: auto;
}
.oeuvre_card .image_content {
  width: 100%;
  height: 100%;
  background-image: url("../img/joconde.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  min-height: 179px;
}
.oeuvre_card img {
  width: 116px;
  border-radius: 12px 0 0 12px;
}
.oeuvre_card .card-title {
  text-transform: uppercase;
  color: #776F6F;
  font-size: 1.18em;
  position: relative;
}
.oeuvre_card .card-title:after {
  content: "";
  position: absolute;
  left: 0;
  border: solid 1px;
  width: 26%;
  top: 26px;
}
.oeuvre_card .card-text {
  margin-top: 1.6em;
  font-size: 0.73em;
}
.oeuvre_card .card-body {
  position: relative;
}
.oeuvre_card .card-body .button {
  content: url("../img/add_oeuvre.svg");
  position: absolute;
  right: -25px;
  width: 34px;
  top: 45%;
  background: #32CCD8;
  height: 34px;
  border-radius: 1em;
  padding: 7px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .oeuvre_card .card-body .button {
    top: 1em;
    right: 0;
    left: 10em;
  }
}

.image-upload {
  text-align: right;
  margin-top: 9em;
  margin-bottom: 9em;
}
@media screen and (max-width: 767px) {
  .image-upload {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
  }
}

.image-upload > input {
  display: none;
}

.separation {
  background: black;
  width: 5px;
  height: 70%;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  text-transform: uppercase;
  border-radius: 0;
  border: solid 1px;
}

.grp_oeuvre {
  max-width: 80%;
}
@media screen and (max-width: 767px) {
  .grp_oeuvre {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.oeuvre {
  padding: 15px;
  background-color: #EFE7F7;
  display: flex;
}
.oeuvre .oeuvre_img {
  position: relative;
  width: 33%;
}
.oeuvre .oeuvre_img img {
  position: absolute;
  top: 0;
  width: 100%;
}
.oeuvre .oeuvre_txt {
  width: 66%;
  padding-left: 15px;
}
.oeuvre .oeuvre_txt .btn {
  border-radius: 0;
  background-color: #EC7070;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.oeuvre .oeuvre_txt textarea {
  margin: 15px 0;
  padding: 15px;
  width: 100%;
  border: 0;
  resize: none;
}
.oeuvre .oeuvre_txt h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.truc {
  background-color: #776F6F;
  width: 100%;
  height: 100%;
}

.expoList #searchbar {
  padding: 0 15px;
}
.expoList #searchbar button {
  border-radius: 0;
  border-color: #3CC84A;
  color: #3CC84A;
}
.expoList #searchbar button:hover {
  color: #ffffff;
  background-color: #3CC84A;
}
.expoList main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 576px) {
  .expoList main {
    justify-content: flex-start;
  }
}
.expoList .expoCard {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  max-width: 300px;
}
@media screen and (min-width: 576px) {
  .expoList .expoCard {
    margin: 0 1%;
    max-width: none;
  }
  .expoList .expoCard.col-sm-6 {
    width: 48%;
  }
}
@media screen and (min-width: 768px) {
  .expoList .expoCard {
    margin: 0 1%;
  }
  .expoList .expoCard.col-md-4 {
    width: 31%;
  }
}
@media screen and (min-width: 991px) {
  .expoList .expoCard {
    margin: 0 1%;
  }
  .expoList .expoCard.col-lg-3 {
    width: 23%;
  }
}
.expoList .expoCard::after {
  content: "";
  display: block;
  padding-bottom: 135%;
}
@media screen and (min-width: 576px) {
  .expoList .expoCard::after {
    padding-bottom: 150%;
  }
}
.expoList .expoCard h6 {
  position: relative;
  font-size: 22px;
  padding-bottom: 15px;
}
.expoList .expoCard h6:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  background-color: white;
  width: 50%;
  height: 2px;
}
.expoList .expoCard p {
  font-size: 14px;
}
.expoList .expo {
  color: #ffffff;
  position: absolute;
  display: inherit;
  width: 100%;
  height: 100%;
  max-height: 375px;
  padding: 15px;
  border-radius: 16px;
}
@media screen and (min-width: 1200px) {
  .expoList .expo {
    max-height: 425px;
  }
}
.expoList .expo .expoTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expoList .expo .expoLink {
  height: 100%;
  min-width: 25px;
  position: absolute;
  right: 15px;
  top: 0;
  display: flex;
  align-items: center;
}
.expoList .expo .expoUser {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  align-items: flex-end;
}
.expoList .expo .expoUser img {
  padding-right: 5px;
}
.expoList .expo img {
  max-width: 25px;
  max-height: 30px;
}

.connexion .nav-item {
  width: 50%;
}
.connexion .nav-item .nav-link {
  width: 100%;
}
.connexion form {
  padding: 15px 15px 30px;
  display: flex;
  flex-wrap: wrap;
}
.connexion form button {
  border-radius: 0;
  border-color: #3CC84A;
  color: #3CC84A;
  width: 100%;
  min-height: 40px;
  height: 100%;
  border: 2px solid;
}
.connexion form button:hover {
  color: #ffffff;
  background-color: #3CC84A;
}
.connexion .form-row {
  position: relative;
  padding: 15px 15px 0;
  width: 100%;
}
.connexion .form-row.pwd {
  width: 50%;
}
.connexion .form-field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #939393;
  outline: 0;
  font-size: 1rem;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 5px;
}
.connexion .form-field::placeholder {
  color: transparent;
}
.connexion .form-field:placeholder-shown ~ .form-label {
  font-size: 1rem;
  cursor: text;
  top: 15px;
}
.connexion .form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.9rem;
  color: #939393;
  margin: 0;
}
.connexion .form-field:focus {
  border-color: #32CCD8;
}
.connexion .form-field:focus ~ .form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #32CCD8;
  font-weight: 700;
}
.connexion .form-field:required, .connexion .form-field:invalid {
  box-shadow: none;
}

.piece_menu table {
  border-collapse: collapse;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  width: 100%;
  height: 540px;
}
.piece_menu td {
  border: 1px solid #d1d1d1;
  text-align: center;
  color: white;
  max-width: 0;
  line-height: 0;
}
.piece_menu a-scene {
  width: 100%;
  height: 540px;
  border: 1px solid black;
}
.piece_menu #steps2 {
  display: none;
  margin-top: 8em;
}
.piece_menu #steps3 {
  display: none;
  margin-top: 8em;
}

* {
  padding: 0;
  margin: 0;
  transition: 0.3s;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.pointer, .frameCard.card, .menuBurger, .expoList .expo .expoLink img {
  cursor: pointer;
}

.round, #timeline .circle, #timeline .badge, #timeline .badge::after {
  border-radius: 100%;
}

button:focus, a:focus {
  outline: #32CCD8 solid 3px;
}

.no-btn {
  border: 0;
  background-color: transparent;
}

.bicon {
  height: 30px;
}

.icon {
  height: 20px;
}

.smicon {
  height: 15px;
}

h1.title_create {
  font-family: "Roboto", sans-serif;
  font-size: 2.25em;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  margin-top: 1em;
}

h2.soustitle_create {
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  text-align: center;
  color: #3CC84A;
  margin-top: 1em;
}

.generation .blc-gauche {
  background: white;
  width: 100%;
  min-height: 540px;
}
.generation .blc-droite {
  background: #ffffff;
  border: 1px solid #000000;
  max-height: 540px;
  width: 100%;
  min-height: 540px;
}

.card_menu {
  position: relative;
  cursor: pointer;
}

.container .card_menu .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  margin: auto;
}

.container .card_menu .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card_menu .face.face1 .content {
  transition: 0.5s;
}

.container .card_menu .face.face1 .content img {
  max-width: 100px;
}

.container .card_menu .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card_menu .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  max-height: 157px;
  margin: auto;
}

.container .card_menu .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container .card_menu:hover .face.face1 {
  background: #429B4B;
  transform: translateY(0);
}

.container .card_menu:hover .face.face1 .content {
  opacity: 1;
}

.container .card_menu:hover .face.face2 {
  transform: translateY(0);
}

.container-align {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 8em;
}
@media screen and (max-width: 1000px) {
  .container-align {
    width: 100%;
    display: initial;
  }
}

.a-null {
  text-decoration: none;
  text-transform: initial;
  font-family: "Roboto", sans-serif;
  display: block;
  align-items: normal;
  color: #333 !important;
}

.logo_footer_container {
  text-align: center;
}

#logo_footer_piece {
  max-width: 17em;
  height: auto;
  margin-top: 6em;
}

/*# sourceMappingURL=style.css.map */
